.thin-font-percentage {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.number-value {
  position: absolute;
  left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
