.radial-chart-legend {
  position: absolute;
  top: 80px;
  left: 48px;
}

.flip-arrow {
  transform: scaleX(-1) rotate(180deg);
}

.radial-chart-legend > .small-card-number::after {
  top: 28px;
  left: 42px;
}

.small-card-arrow {
  margin-left: 5px;
}
